/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'Roboto-Light';
   src:font-url('Roboto-Light.ttf') format('truetype');

 }
 @font-face {
   font-family: 'Roboto-Regular';
   src:font-url('Roboto-Regular.ttf') format('truetype');

 }
 @font-face {
   font-family: 'Roboto-Medium';
   src:font-url('Roboto-Medium.ttf') format('truetype');

 }

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f8f8f8;
}

 .header {
   height: 80px;
   background: #3aafda;
   width: 100%;
   display: flex;
 }

 .logo {
     font-family: 'Roboto-Regular';
     font-size: 25px;
     color:white;
     line-height:80px;
     flex:1 0 auto;
     padding-left: 30px;
     text-align: center;

 }
 .add_form {
 padding-right: 30px;
 padding-top: 30px;
 }

.pr_name{
  font-family: 'Roboto-Medium';
  font-size: 15px;
  color:black;
  padding: 15px 25px;

}
.block{
  padding: 25px;


}
.point{

  padding: 25px 0px;
  display: flex;
}

.text{

  font-family: 'Roboto-Light';
  font-size: 17px;
  padding-left: 30px;
  padding-right: 40px;


}
 .card{
   // width: 450px;
   background: white;
   -webkit-box-shadow: 0px 2px 6px -1px rgba(82,82,82,1);
   -moz-box-shadow: 0px 2px 6px -1px rgba(82,82,82,1);
   box-shadow: 0px 2px 6px -1px rgba(82,82,82,1);
   margin: 25px;
   // float:left;
 }
 hr{
   color: f8f8f8;
   border-width: 0.5px;
 }
ul{
 list-style-type: none;
 }


#submit_form{
  // border: solid 1px;
  width: 550px;
  height: 250px;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
   display: flex;

}
.window{
  width: 500px;
  flex:1 0 auto;
  text-align: center;
  // line-height:250px;

}
.holder{
  margin: 20px auto;

}
.text_holder{
  border: 1px solid #aaa;
  font-family: 'Roboto-Light';
  font-size: 17px;
  width: 500px;
  height: 40px;
  padding-left: 10px;
}

.btn{
  margin:15px;
  width: 233px;
  height: 40px;
  padding: 10px 40px;
  border: none;
  background: grey;
  font-family: 'Roboto-Medium';
  font-size: 15px;
  color:white;
  cursor: pointer;

}

.btn:hover {background: #3aafda; }

select{
  width: 500px;

}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: black;
}


.select2-selection, .select2-selection__rendered, .select2-selection__arrow {

   height: 40px !important;
   font-family: 'Roboto-Light';
   font-size: 17px;

   span {

       line-height: 40px !important;
       text-align: left;


   }

}

.select2-selection {

   border-radius: 0 !important;

}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
